==== Do not change these values ====
stopFilePath = stoplist-smart-sys.txt
performStemming = N
backgroundCorpusFreqCounts = bgCounts-Giga.txt
topicWordCutoff = 0.1

==== Directory to compute topic words on ====
inputDir = /home1/c/cis530/final_project/input/d30048t_raw/
==== Output File ====
outputFile = /home1/j/jmow/school/cis530/project/tws/topic30.ts